// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

h1, h2, h3 ,h4 ,h5 ,h6, p, span, a {
    font-family: $font-family;
    
}

// header
.logo-img{
    width:300px;
}
#main-nav{
    height: 86px;
}
.home-banner{
    // background: black;
}

.home-banner .image{
    background-image: url('../img/homebanner.png');
    height: 500px;
    min-height: 300px;
    max-height: 600;
}
.below-banner-section{
    padding-top: 30px;
    padding-bottom: 100px;
}
.below-banner-section .below-banner-text{
    text-transform: uppercase;
}
.below-banner-section .below-banner-text h2 {
    font-weight: $bold-weight;
    font-size: 45px;
}
.below-banner-section .below-banner-text .h2-class::after {
    // content: " ";
    height: 5px;
    width: 50px;
    background: #000;
    margin-top: 25px;
    position: absolute;
}
.below-banner-section .text-light-blue{
    text-transform: uppercase;
    color: $light-blue-color;
}
.below-banner-section .below-banner-text .after-text-line{
    
}

.on-click-footer-section{
    padding-top: 10px;
    padding-bottom: 100px;
}

// #############################
// ##### Bootstrap changed #####
// #############################
.navbar-default .navbar-nav .nav-link {
    color: $menu-item-color;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.navbar-default .navbar-nav  .active .nav-link{
    color: $light-blue-color;
}




// ########## FOOTER #############
#wrapper-footer{
    background: $dark-blue-color;
    padding: 100px 0px;
}
.footer-menu{
    color: $light-blue-color;
}
.site-footer  ul{
    list-style: none;
}
.footer-menu .footer-menu-item a {
    text-transform: uppercase;
    color: $light-blue-color;
    font-size: 45px;
    font-family: $font-family;
    line-height: 50px;
    letter-spacing: 0.1em;
    font-weight: $menu-item-font-weight;
}
.divider-xs{
    height:5px; 
    background: $light-blue-color; 
    width:100px;
    margin-left:50px;
}
.divider-reach{
    height:5px; 
    background: $dark-blue-color; 
    width:100px;
}
.arrow{
    color: #C4C4C4;
}
.footer-menu-wrapper {
    margin: 50px 0px;
}
.site-info .footer-about-shasta{
    margin: 50px;
}
.site-info .footer-about-shasta h3{
    text-transform: uppercase;
    color: $white-color;
    font-size: 16px;
    line-height: 30px;
    margin: 0px 0px 30px 0px;
}

.site-info .footer-about-shasta-description p{
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: $white-color;
}
.site-info .footer-about-shasta input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
}
.site-info .footer-about-shasta input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:$light-blue-color;
    opacity: 1; /* Firefox */
  }


.footer-social-media ul li{
    display: inline;
    margin: 0 10px;
}
.footer-social-media .social-media-item-linked-in {
    color: $white-color;
}
.footer-social-media ul li > a{
    color:$light-blue-color;
    padding-bottom: 10px;
    border-bottom: 5px solid $light-blue-color;
}
.footer-social-media ul li > a > i{
    margin:0px 7px;
}
.footer-credit{
    margin: 25px 50px;
}
.footer-credit p {
    color: $white-color;
    font-size: 12px;
    font-weight: normal;
}


// ###############################
// ####### Template Shasta #######
// ###############################

.shasta-banner{
    // background: black;
    min-height: 100vh;
    height: 100vh;
}

.shasta-hero-banner .image{
    background-image: url('../img/shasta-hero.png');
    background-position: center;
    background-size: cover;
    height: 120VH;
    min-height: 100vh;
    // max-height:;
}

.shasta-hero-banner .hero-headline{
    padding-top: 101px;
    padding-left: 143px;
    width: 950px;
}
.shasta-hero-banner .hero-headline h2 {
    text-transform: uppercase;
    color: $dark-blue-color;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.shasta-hero-divider-xs{
    height:5px; 
    background: $dark-blue-color; 
    width:100px;
    // margin-left:50px;
}

.shasta-below-banner-section{
    background: $dark-blue-color;
    // height: 229px;   
}
.shasta-below-banner-section .shasta-below-banner-text{
    padding: 50px;
    // width: 700px;
}
.shasta-below-banner-text > p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white-color;
}
.person-image {
    min-height: 100px;
    height: 320px;
    padding: 20px;
    background-size: cover;
}
.person-image-1:hover {
    background: rgba(0, 167, 225, 0.8);
    height: 320px;
    padding: 20px;
    background-size: cover;
}
.person-image p {
    color: $person-name-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.person-founders{
    padding: 150px 30px;
}
.person-founders p{
    color: $white-color;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.divider-person{
    height:5px; 
    background: $person-name-color; 
    width:100px;
}
.footer-links{
    padding: 50px 0px;
}
.footer-links .footer-1 > h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 38px;
    margin: 0;
}
.footer-links .divider-footer{
    height:5px; 
    background: #000; 
    width:110px;
}
.footer-links .footer-links-list{
    margin: 25px 0px;
    padding: 0;
}
.footer-links .footer-links-list li{
    list-style: none;
    margin: 0;
    padding: 0;
    color: $light-blue-color;
}