// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

h1, h2, h3 ,h4 ,h5 ,h6, p, span, a {
    font-family: $font-family;
    
}

// header
.logo-img{
    width: 180px;
    height: 30px;
}
#main-nav{
    height: 86px;
}
.home-banner{
    // background: black;
    position: relative;
    // background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.home-banner .image{
    // background-image: url('../img/homebanner.png');
    // height: 500px;
    // min-height: 300px;
    // max-height: 600;
    
}
.below-banner-section{
    
    padding-top: 30px;
    padding-bottom: 100px;
}
.below-banner-section .below-banner-text{
    text-transform: uppercase;
}
.below-banner-section .below-banner-text h2 {
    font-weight: $bold-weight;
    font-size: 45px;
}
.below-banner-section .below-banner-text .h2-class::after {
    // content: " ";
    height: 5px;
    width: 50px;
    background: #000;
    margin-top: 25px;
    position: absolute;
}
.below-banner-section .text-light-blue{
    text-transform: uppercase;
    color: $light-blue-color;
}
.below-banner-section .below-banner-text .after-text-line{
    
}
.home-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -10;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

.on-click-footer-section{
    padding-top: 10px;
    padding-bottom: 100px;
}

// #############################
// ##### Bootstrap changed #####
// #############################
.navbar-default .navbar-nav .nav-link {
    color: $menu-item-color;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.navbar-default .navbar-nav  .active .nav-link{
    color: $light-blue-color;
}
.sticky{
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 1000;
}




// ########## FOOTER #############
#wrapper-footer{
    background: $dark-blue-color;
    padding: 100px 0px;
}
.footer-menu{
    color: $light-blue-color;
}
.site-footer  ul{
    list-style: none;
}
.footer-menu .footer-menu-item a {
    text-transform: uppercase;
    color: $light-blue-color;
    font-size: 45px;
    font-family: $font-family;
    line-height: 50px;
    letter-spacing: 0.1em;
    font-weight: 700;
}
.divider-xs{
    height:5px; 
    background: $light-blue-color; 
    width:100px;
    margin-left: 42px;
}
.divider-reach{
    height:5px; 
    background: $dark-blue-color; 
    width:100px;
}
.arrow{
    color: #C4C4C4;
}
.footer-menu-wrapper {
    margin: 50px 0px;
}
.site-info .footer-about-shasta{
    margin: 40px;
}
.site-info .footer-about-shasta h3{
    text-transform: uppercase;
    color: $white-color;
    font-size: 16px;
    line-height: 30px;
    margin: 0px 0px 30px 0px;
}

.site-info .footer-about-shasta-description p{
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: $white-color;
}
.site-info .footer-about-shasta input{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
}
.site-info .footer-about-shasta input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:$light-blue-color;
    opacity: 1; /* Firefox */
  }

a:hover {
    text-decoration: none; 
}
.footer-social-media ul li{
    display: inline;
    margin: 0 10px;
}
.footer-social-media .social-media-item-linked-in {
    color: $white-color;
}
.footer-social-media .social-media-item-linked-in:hover a{
        text-decoration: none;
}
.footer-social-media ul li > a{
    color:$light-blue-color;
    padding-bottom: 10px;
    border-bottom: 5px solid $light-blue-color;
}
.footer-social-media ul li > a > i{
    margin:0px 7px;
}

.footer-credit{
    margin: 25px 40px;
}
.footer-credit p {
    color: $white-color;
    font-size: 12px;
    font-weight: normal;
}


// ###############################
// ####### Template Shasta #######
// ###############################

.shasta-banner{
    // background: black;
    min-height: 100vh;
    height: 100vh;
}

.shasta-hero-banner .image{
    background-image: url('../img/shasta-hero.png');
    background-position: center;
    background-size: cover;
    height: 120VH;
    min-height: 100vh;
    // max-height:;
}

.shasta-hero-banner .hero-headline{
    padding-top: 101px;
    padding-left: 143px;
    width: 950px;
}
.shasta-hero-banner .hero-headline h2 {
    text-transform: uppercase;
    color: $dark-blue-color;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.shasta-hero-divider-xs{
    height:5px; 
    background: $dark-blue-color; 
    width:100px;
    // margin-left:50px;
}

.shasta-below-banner-section{
    background: $dark-blue-color;
    // height: 229px;   
}
.shasta-below-banner-section .shasta-below-banner-text{
    padding: 50px;
    // width: 700px;
}
.shasta-below-banner-text > p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white-color;
}
.person-image {
    min-height: 100px;
    height: 320px;
    padding: 20px;
    background-size: cover;
}
.person-image-1:hover {
    background: rgba(0, 167, 225, 0.8);
    height: 320px;
    padding: 20px;
    background-size: cover;
}
.person-image p {
    color: $person-name-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.person-info-detail p {
    color: $person-name-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.person-founders{
    padding: 150px 30px;
}
.person-founders p{
    color: $white-color;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.divider-person{
    height:5px; 
    background: $person-name-color; 
    width:100px;
}
.footer-links{
    padding: 50px 0px;
}
.footer-links .footer-1 > h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 38px;
    margin: 0;
}
.footer-links .divider-footer{
    height:5px; 
    background: #000; 
    width:110px;
}
.footer-links .footer-links-list{
    margin: 25px 0px;
    padding: 0;
}
.footer-links .footer-links-list li{
    list-style: none;
    margin: 0;
    padding: 0;
    color: $light-blue-color;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .person-image:hover .middle {
    opacity: 1;
  }  
  .person-image:hover{
    // opacity: 0.3;
  }


//   ######## BIO DETAILS #############
.bio-banner{
    position: relative;
}
.bio-banner .image{
    width: 100%;
}
.bio-banner .bio-detail-section{
    position: absolute;
    top: 100px;
    left: 150px;
}
.bio-banner .bio-detail-section h2{
    text-transform: uppercase;
    color: $dark-blue-color;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.1em;
}
.bio-designation{
    margin: 10px 0px;
}
.bio-designation p{
    font-size: 16px;
    line-height: 36px;
}
.bio-social-media ul li{
    display: inline;
    margin: 0 10px;
}
.bio-social-media .social-media-item-linked-in {
    color: $white-color;
}
.bio-social-media ul li > a{
    color:$dark-blue-color;
    padding-bottom: 10px;
    border-bottom: 5px solid $dark-blue-color;
}
.bio-social-media ul li > a > i{
    margin:0px 7px;
}

.bio-description{
    margin: 20px 0px;
}
.bio-back-button {
    position: absolute;
    right: 0px;
    top: -80px;
}
.bio-back-button a{
    background: transparent;
    border: 0;
    border-bottom: 4px solid $dark-blue-color;
    border-radius: 0;
    text-transform: uppercase;
    color: $dark-blue-color;
    font-weight: bold;
    
}
.bio-social-media{
    margin-left: -10px;
    margin-bottom: 35px;
}

// ###############################
// ####### Template Founder #######
// ###############################

.founder-banner{
    // background: black;
    min-height: 100vh;
    height: 100vh;
}

.founder-hero-banner .image{
    background-image: url('../img/founders-hero.png');
    background-position: center;
    background-size: cover;
    height: 120VH;
    min-height: 100vh;
    // max-height:;
}

.founder-hero-banner .hero-headline{
    padding-top: 101px;
    padding-left: 143px;
    width: 950px;
}
.founder-hero-banner .hero-headline h2 {
    text-transform: uppercase;
    color: $dark-blue-color;
    font-weight: bold;
    font-size: 45px;
    width: 270px;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.founder-hero-divider-xs{
    height:5px; 
    background: $dark-blue-color; 
    width:100px;
    // margin-left:50px;
}

.founder-below-banner-section{
    background: $dark-blue-color;
    // height: 229px;   
}
.founder-below-banner-section .founder-below-banner-text{
    padding: 50px;
    // width: 700px;
}
.founder-below-banner-text > p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white-color;
}

.middle-navigation{
    margin: 100px 0px;
}
.middle-navigation .nav-link{
    color: $dark-blue-color!important;
}
.middle-navigation .nav-item .active{
    color: $light-blue-color !important;
    border-bottom: 5px solid $light-blue-color;
}
.middle-navigation .active a{
    color: $light-blue-color !important;
}

.saas-headline{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    color: $dark-blue-color;
    margin-bottom: 50px;
}
.saas-description{
    margin-bottom: 50px;
}

// faq
.accordion-section .panel-default > .panel-heading {
    border: 0;
    padding: 0;
    //  border-bottom: 1px solid #958e8e;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 25px;
    content: "\f106";
    color: #c5c7c9; 
    position: absolute;
    margin-top: -3px;
    right: 16px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
    color: #00a7e1;
     
}
.accordion-section .panel-default .panel-body {
    font-size: 14px;
}
#accordion .panel-default{
    border-bottom: 1px solid #958e8e;
    margin-bottom: 6px;
}
.accordion-section .panel-default .panel-body p {
    padding: 0px;
}


.glint-person{
    background-image: url('../img/glint-2.png');
    background-size: cover;
    height: 550px;
}
.saas  .accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f105";
    color: #00a7e1;
}
.active-head > h2{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: $dark-blue-color;
}
.divider-active-head{
    height:5px; 
    background: #000; 
    width:110px;
}
.categories-list{
    margin-top: 50px;
}
.categories-list > ul{
    padding: 0;
}
.categories-list ul > li {
    color: $light-blue-color;
    list-style: none;
    border-bottom: 1px solid #958e8e;
    padding: 5px;
}
.categories-list ul > li > a {
    color: $light-blue-color;
    font-weight: 700;
}
.bg-primary {
    background-color: #fff9!important;
}


// ###############################
// ####### Template Elevates #######
// ###############################

.elevates-banner{
    // background: black;
    min-height: 100vh;
    height: 100vh;
}

.elevates-hero-banner .image{
    background-image: url('../img/elevates-hero.png');
    background-position: center;
    background-size: cover;
    height: 100VH;
    min-height: 100vh;
    // background-color: #001951;
}

.elevates-hero-banner .image-pattern {
   margin-top: 250px;
   margin-left: 150px;
    // max-height:;
}

.elevates-hero-banner .hero-headline{
    padding-top: 101px;
    padding-left: 143px;
    width: 950px;
}
.elevates-hero-banner .hero-headline h2 {
    text-transform: uppercase;
    color: $dark-blue-color;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.elevates-hero-divider-xs{
    height:5px; 
    background: $dark-blue-color; 
    width:100px;
    // margin-left:50px;
}

.elevates-below-banner-section{
    background: $dark-blue-color;
    // height: 229px;   
}
.elevates-below-banner-section .elevates-below-banner-text{
    padding: 50px;
    // width: 700px;
}
.elevates-below-banner-text > p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $white-color;
}
.revenue-headline{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    color: $light-blue-color;
    margin-bottom: 50px;
    letter-spacing: 0.15em;
}
.revenue-description{
    margin-bottom: 50px;
}
.revenue-subhead{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}

.revenue-light-lines {
    background-image: url('../img/light-lines.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 400px;
}
.active-head-revenue-labs > h2{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: $light-blue-color;
    letter-spacing: 0.15em;
}
.divider-revenue-head{
    height:5px; 
    background: $light-blue-color; 
    width:110px;
}
.revenue-icon{
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    float: right;
}
.woman-person{
    background-image: url('../img/woman-person.png');
    background-size: cover;
    height: 650px;
}
.people-labs{
    background:rgba(229, 229, 229, 0.3);
}
.infrastructure-light-lines {
    background-image: url('../img/light-lines_fliped.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px;
    padding-bottom: 50px;
    
}
.leadership-light-lines {
    background-image: url('../img/light-lines.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 400px;
    padding-bottom: 150px;
    background: rgba(229, 229, 229, 0.3);
}
.directions{
    color: $light-blue-color!important;
    font-weight: 700;
}
.directions-map{

}
.image-map{
    width: 100%;
}
.hide{
    display: none;
}
.show{
    display:block;
}
#navbarNavDropdown{
    padding: 25px;
}
.white-color{
    color: #fff;
}
.person-info-detail{
    position: absolute;
    top: 20px;
    left:20px;
    z-index: 100;
}

.person-info-detail > p {
    margin-bottom: 0.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0s ease;
    background-color:rgba(0, 167, 225, 0.8);;
    z-index: 100;
}
.person-info-detail {
    // transition: .5s ease;
}
.overlay:hover {
    opacity: 0.8;
    padding-top: 144px;
    padding-left: 34px;
    font-size: 18px;
    transition: 0.4s ease;
}
.overlay:hover ~ .person-info-detail{
    transition: .3s ease;
    display: none;
    
}
.image_overlay:hover .overlay {
    opacity: 1;
}
.overlay-text-content{
    font-size: 22px;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.tab-pane{
    padding-top: 100px;
}


// ##################################
// ########### MEDIA QUERIES ########
// ##################################

@media only screen and (min-width: 601px) {
   
}
  
@media only screen and (max-width: 769px) {
    #navbarNavDropdown{
        background: #fff;
    }
    .shasta-hero-banner .hero-headline {
        padding-top: 101px;
        padding-left: 30px;
        width: auto;
    }
    .shasta-hero-banner .hero-headline h2 {
        text-transform: uppercase;
        color: #001951;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        letter-spacing: .1em;
    }
    .elevates-hero-banner .hero-headline {
        padding-top: 101px;
        padding-left: 30px;
        width: auto;
    }
    .elevates-hero-banner .hero-headline h2 {
        text-transform: uppercase;
        color: #001951;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        letter-spacing: .1em;
    }
    .founder-hero-banner .hero-headline {
        padding-top: 101px;
        padding-left: 30px;
        width: auto;
    }
    .founder-hero-banner .hero-headline h2 {
        text-transform: uppercase;
        color: #001951;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        width: 250px;
        letter-spacing: .1em;
    }
    .revenue-headline {
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        text-transform: capitalize;
        color: #00a7e1;
        margin-bottom: 50px;
    }
    .bio-banner .bio-detail-section {
        position: absolute;
        top: 0;
        left: 0;
    }
    .bio-banner .bio-detail-section h2 {
        text-transform: uppercase;
        color: #001951;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: .1em;
    }
    .d-none-visible{
        visibility: hidden;
    }
    .shasta-hero-banner .image {
        background-position: left -622px bottom 0px;
        background-repeat: no-repeat;
    }
    .elevates-hero-banner .image {
        background-position: left -680px bottom -75px;
        background-repeat: no-repeat;
        background-size: unset;
    }
    .bio-back-button {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    #main-nav {
        height: auto !important;
        padding: 2rem 1rem  !important;
    }
	#navbarNavDropdown { padding:0px;
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
    }
    div#navbarNavDropdown ul {
            padding: 0px 15px 25px;
    }
    .site-info .footer-about-shasta input[type='submit'] {

        border-bottom: 0;
    }
    .elevates-hero-banner .image-pattern {
        width: 70%;
        position: absolute;
        bottom: 0;
        right: 12%;
    }
    .saas-headline {
        font-size: 35px;
    }
    .middle-navigation .nav {
        display: block;
    }
}